body {
  background: #F0F0F0;
  color: #36454F;
}
table, td, th {
  border: 1px solid #36454F;
}
div {
  background: #fff;
  margin: 5px;
  border: 1px solid #36454F;
}
#div_game_board {
  position: absolute;
  top: 1%;
  left: 1%;
  width: 75%;
  height: 90%;
}
#div_stats {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 20%;
  height: 45%;
}
#div_players {
  position: absolute;
  top: 80%;
  right: 1%;
  width: 20%;
  height: 15%;
}
#div_activity {
  position: absolute;
  top: 48%;
  right: 1%;
  width: 20%;
  height: 30%;
}
#div_game_board table {
  border: 0px;
  /*width: 100%;
  height: 100%;*/
}
#div_game_board td {
  width: 10%;
  height: 10%;
}
#div_stats table {
  border: 0px;
  width: 100%;
}
.tile_stop {
  border: 1px solid #36454F;
  height: 15px;
  width: 15px;
}
.colour {
  height:5px;
}
.brown {
  background-color: maroon;
}
.light_blue {
  background-color: lightblue;
}
.pink {
  background-color: fuchsia;
}
.orange {
  background-color: orange;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.dark_blue {
  background-color: navy;
}
